*{  margin: 0;
    padding: 0;
  }

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(../images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;

}

.nav-link{
    color: #fff;
    font-size: 15px;
    padding:0 !important;
    position: relative;
    font-family: 'Source Sans 3', sans-serif;
}

.nav-item{
    margin-left: 30px;
}

.nav-link:hover{
    color: #fff;
}

.nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #008ed6;
    transition: .4s all ease-in-out;
}

.nav-link::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color:#008ed6;
    transition: .4s all ease-in-out;
}

.nav-link:hover::before{
    width: 48%;
}
.nav-link:hover::after{
    width: 48%;
}

.banner{
    align-items: center;
    min-height: 90vh;
}

.banner h4{
    color: #008ed6;;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Source Sans 3', sans-serif;


}
.banner h1{
    color: #fff;
    font-size: 40px;
    margin: 15px 0 20px 0;
    font-family: 'Source Sans 3', sans-serif;
}
.banner p{
    color: #999999;
    margin-bottom: 30px;
    font-family: 'Source Sans 3', sans-serif;
}
.btn_download{
    background-color: #008ed6;
    color: #fff;
    padding: 0;
    padding: 12px 25px;
    border-radius: 3px;
    border: 1px solid #008ed6;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Source Sans 3', sans-serif;
}
.btn_view{

    background-color:transparent;
    margin-left: 10px;
    color: #fff;
    padding: 0;
    padding: 12px 25px;
    border-radius: 3px;
    border: 1px solid #999999;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Source Sans 3', sans-serif;

}

.btn_download:hover{

    color: #fff;
    border-color: #999;

}

.btn_view:hover{
    color: #fff;
    background-color: #008ed6;
    border-color: #008ed6;
}

.phone{
    position: absolute;
    bottom: 0;
    right: 110px;
    width: 35%;
}

.feature{
    
margin-top: 40px;
margin-bottom: 100px;
}

.heading{

text-align: center;
}
.heading h4{
    
color: #008ed6;
    
font-size: 14px;
    
text-transform: uppercase;
    
letter-spacing: 2px;
font-family: 'Source Sans 3', sans-serif;
}
.heading h1{
    
font-size: 35px;
font-family: 'Source Sans 3', sans-serif;
}
.heading span{
    
display: block;
    
height: 3px;
    
width: 50px;
    
background: #008ed6;
    
margin: auto;
    
margin-top: 20px;
    
margin-bottom: 60px;
font-family: 'Source Sans 3', sans-serif;
}

.feature_item{

text-align: center;
}

.feature_item h2{
    
padding-top: 25px;
      
font-size: 25px;
font-family: 'Source Sans 3', sans-serif;
}
.feature_item p{
    
padding-top: 15px;
color: #999999;
font-family: 'Source Sans 3', sans-serif;

}
.icon_box{

height: 70px;

width: 70px;

border: 1px solid #999;

border-radius: 50px;

text-align: center;

line-height: 70px;

color: #008ed6;

font-size: 22px;

margin: auto;
}

.item{

}
.full_item{
    align-items: center;

}
.phone_2{

}
.contain{

}
.contain h4{
    
color: #008ed6;
    
font-size: 14px;
    
text-transform: uppercase;
    
letter-spacing: 2px;

padding-bottom: 20px;
    
font-family: 'Source Sans 3', sans-serif;
}
.contain h1{
    
font-size: 35px;

font-family: 'Source Sans 3', sans-serif;

}
.contain span{
    
display: block;
    
height: 3px;
    
width: 50px;
    
background: #008ed6;
    
margin: auto;
    
margin-top: 20px;
    
margin-bottom: 20px;
}



.contain p{
    
color: #999999;
    
font-family: 'Source Sans 3', sans-serif;
    
    
margin-bottom: 25px;
}

.item_icon{

}
.item_icon ul{
    text-align: left;

}
.item_icon ul li{
       
list-style: none;
       
display: flex;
       
align-items: center;
       
color: #1b1b1b;
       
font-size: 14px;

font-weight: 400;
       
margin-bottom: 10px;
}
.item_icon ul li i{

    height: 30px;

    width: 20px;

    background-color: #fff;

    color:#008ed6;
    
    display: flex;

    justify-content: center;

    align-items: center;

    margin-right: 12px;
}

.customize{

  background:#f2f2f2;

}

.dip{
    
align-items: center;
}

.customize_detail{

}

.customize_detail h5{
    
color: #008ed6;
    
font-size: 14px;
    
text-transform: uppercase;
    
letter-spacing: 2px;
    
padding-bottom: 20px;
    
font-family: 'Source Sans 3', sans-serif;
}

.customize_detail h2{
    
font-size: 35px;
}

.customize_detail span{

display: block;
    
height: 3px;
    
width: 50px;
    
background: #008ed6;
    
margin: auto;
    
margin-top: 20px;
    
margin-bottom: 20px;
}

.customize_detail p{
    
color: #999999;
    
font-family: 'Source Sans 3', sans-serif;
    
margin-top: 40px;
}
